<launch>
  <arg name="use_tf_static" default="false"/>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <param
    name="robot_description"
    textfile="$(find pyarm_plugin_description)/urdf/pyarm_plugin_description.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="use_tf_static" value="$(arg use_tf_static)"/>
  </node>
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find pyarm_plugin_description)/urdf.rviz" />
</launch>
